[DEFAULT]
bots=bot1,bot2
subreddits=AskReddit,AskMen,AskWomen,askscience

[bot1]
client_id=CG3sM6Y36okwzw
client_secret=UkGLTe6oqsMk5nHCJTHLrwgvHpr ; Don't store your real secret in the repo!
password=pni9ubeht4wd50gk ; Don't store your real password in the repo!
username=Made2020RedditBot
model_name=distilgpt2
bot_name=Made2020RedditBot
bot_version=0.0.1
bot_author=Made2020RedditBot
user_agent=script:%(bot_name)s:v%(bot_version)s (by u/%(bot_author)s)

[bot2]
client_id=CG3sM6Y36okwzw
client_secret=UkGLTe6oqsMk5nHCJTHLrwgvHpr ; Don't store your real secret in the repo!
password=pni9ubeht4wd50gk ; Don't store your real password in the repo!
username=Made2020RedditBot
model_name=gpt2
bot_name=Made2020RedditBot
bot_version=0.0.1
bot_author=Made2020RedditBot
user_agent=script:%(bot_name)s:v%(bot_version)s (by u/%(bot_author)s)